{% extends 'base.html'%}
{% block contenido%}  
 
    <h1> Conozcanos </h1>

    <h2> Organizacion de la Empresa:</h2>
        <h3> Gerente de la Empresa: </h3>
        <p> Bernarda Caputo Páez </p>
        <h3> Director de Finanzas </h3>
        <p> Migdonio Manuel Páez <p>
        <h3> Recepcionistas</h3>
            <ul>
				<li>Micaela Victorina Páez Caputo.</li>
				<li>Veronica Fernanda Páez Caputo.</li>
                <li>Andrea Natalia Páez Caputo.</li>
			</ul>
    <h2> Historial de la Empresa:</h2>
    <p>
        El negocio familiar antes consistá en la horticultura, pero como el clima
        en Paraguay es muy inestable, no podiamos depender netamente de eso,
        y asi fue como hace 8 años (2012) empezamos con un emprendimiento 
        familiar, y nos enfocamos en el rubro de venta de cemento, y de acuerdo
        a eso usar las ganancias para seguir invirtiendo.<br>
        Con el tiempo nos fuimos afianzando, y nos metimos de lleno a la venta de 
        materiales de construcción, luego fuimos sumando, la venta de insumos 
        agricolas, asi como tambien en la venta de articulos de Ferreteria 
        en general.

    </p>
{% endblock contenido %}