{% extends 'base.html'%}
{% block contenido%}  
  <h1> Empresa </h1>
  <h3> Medalla Milagrosa</h3>
	<blockquote>      
    En Medalla Milagrosa ofrecemos los mejores articulos para el hogar
    con los mejores precios del mercado, tambien estamos en el rubro de la venta
      de Insumos Agricolas, asi como tambien de Materiales de Construccion, 
  </blockquote>

  <div class="box alt">
		<div class="row gtr-50 gtr-uniform">
			<div class="col-6"><span class="image fit"><img src="/static/images/ferre01.jpg" alt="" /></span></div>
			<div class="col-6"><span class="image fit"><img src="/static/images/ferre02.jpg" alt="" /></span></div>
		</div>
	</div>
{% endblock contenido %}