{% extends 'base.html'%}
{% block contenido%}  

    <h1> Servicios </h1>
    <h4>Ofrecemos el servcio de venta de:</h4>
    <h3> Venta de Artículos de Ferretería en general</h3>
    <p>
        <span class="image left"><img src="/static/images/serv00.jpeg" alt="" /> </span>
        <br>
        Ofrecemos una gran variedad de Artículos de Ferretería para el hogar, 
        con la mejor relacion calidad/precio del mercado. <br> <br>
        Aquí en
        Medalla Milagrosa encontrarás todo lo que necesitas y con una excelente atención
        al cliente. 
        <br>
        <br>
        <br>
        <br>
    </p>
    <h3> Venta de Insumos Agrícolas</h3>
	<p>
        <span class="image left"><img src="/static/images/serv01.jpg" alt="" /> </span>
        Ofrecemos una gran variedad de insumos agrícolas, que te pueden servir 
        para emprender o hacer tu propia huerta en casa. <br> <br>
        Aqui en
        Medalla Milagrosa encontrarás toda la materia prima que necesitas y al mejor
        precio del mercado. 
    </p>
    <h3> Venta de Materiales de Construccion</h3>
	<p>
    <span class="image right"><img src="/static/images/serv02.jpg" alt="" /> </span>
        Ofrecemos también una gran variedad de materiales de construcción, 
        con los precios mas accesibles. <br> <br>
        Aqui en
        Medalla Milagrosa encontraras lo mejor en calidad de materiales de construcción 
        y al mejor precio. 
    </p>
    
    <h2> Red Social</h2>
    <p> Puedes seguirnos en nuestra Pagina de Facebook aqui: 
        <a href="https://www.facebook.com/Ferreteria-Medalla-Milagrosa-722721878182706" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
    </p>
{% endblock contenido %}